<?xml version = '1.0' encoding = 'UTF-8'?>
<plugins>
    <pyqgis_plugin name="Buenos Aires USIG (basemap)" version="5.1" plugin_id="1">
        <description><![CDATA[Mapa base de la Ciudad Autonoma de Buenos Aires. Construido a partir de los mapas del http://usig.buenosaires.gov.ar/]]></description>
        <about><![CDATA[Basemap de la Ciudad Autonoma de Buenos Aires]]></about>
        <version>5.1</version>
        <trusted>True</trusted>
        <qgis_minimum_version>2.0.0</qgis_minimum_version>
        <qgis_maximum_version>2.99.0</qgis_maximum_version>
        <homepage><![CDATA[https://kevinjhanna.github.io/qgis-openlayers-bsas-plugin/]]></homepage>
        <file_name>bsas_openlayers_plugin.zip</file_name>
        <icon>https://kevinjhanna.github.io/qgis-openlayers-bsas-plugin/bsas_icon.png</icon>
        <author_name><![CDATA[Martin Goffan, Kevin Hanna]]></author_name>
        <download_url>https://kevinjhanna.github.io/qgis-openlayers-bsas-plugin/bsas_openlayers_plugin.zip</download_url>
        <uploaded_by><![CDATA[elpaso]]></uploaded_by>
        <create_date>2016-10-25T15:27:19.041464</create_date>
        <update_date>2016-10-25T15:27:19.041464</update_date>
        <experimental>False</experimental>
        <deprecated>False</deprecated>
        <tracker><![CDATA[https://github.com/kevinjhanna/qgis-openlayers-bsas-plugin/issues]]></tracker>
        <repository><![CDATA[https://github.com/kevinjhanna/qgis-openlayers-bsas-plugin]]></repository>
        <tags><![CDATA[buenos aires,basemap,baselayer,usig]]></tags>
        <downloads>0</downloads>
        <average_vote>0</average_vote>
        <rating_votes>0</rating_votes>
        <external_dependencies></external_dependencies>
        <server>False</server>
    </pyqgis_plugin>
</plugins>
